<html>
	<head>
		<title>Josh Wright</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic|Lora' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="icon" type="image/png" href="images/favicon.png">
	</head>
	<body>
		<div class="header">
			<a id="logo" href="/">josh<span style="font-weight: bold">wright</span></a>
			<div id="navigation">
				<a class="navitem" href="/travel">Travel</a>
				<a class="navitem" href="/projects">Projects</a>
			</div>
		</div>
		<section id="home-header-page" class="page">
			<p class="intro-title">iOS DEVELOPER</p>
			<p id="intro-subtitle">AND (part time) NOMAD</p>
		</section>
		<section id="about" class="info">
			<p class="section-title">A little bit about me</p>
			<p class="section-text">I'm Josh. I like problem solving, organization, and style. These three things are what got me interested in programming, and I've been doing my best to write stylish, clean code ever since. Currently my focus is in iOS development with dabbling in Android Development, Frontend and Backend web development, and UI/UX. I also love to travel. I've backpacked 18 different countries, and am currently studying abroad in Melbourne, Australia.</p>
		</section>
		<div class="spacer"></div>
		<section id="latest-projects" class="page">
			<p class="section-title">My latest projects</p>
			<div class="projects-container">
				<div class="project left"></div>
				<div class="project right"></div>
				<div class="project middle"></div>
			</div>
			<a class="section-link" href="/projects">View other projects</a>
		</section>
		<div class="spacer"></div>
		<section id="latest-travel" class="page">
			<p class="section-title">My latest travel</p>
			<p class="section-text">Travel map coming... soon?</p>
			<a class="section-link" href="/travel">View other travel</a>
		</section>
	</body>
<footer>
	<div id="navigation-footer">
		<div class="footer-helper">
			<a class="navitem-footer" href="https://github.com/joshuawright11">
				<div id="github" class="social-media-icon"></div>
			</a>
		</div>
		<div class="footer-helper">
			<a class="navitem-footer" href="https://www.linkedin.com/in/joshlwright">
				<div id="linkedin" class="social-media-icon"></div>
			</a>
		</div>
		<div class="footer-helper">
			<a class="navitem-footer" href="https://www.facebook.com/joshlwright">
				<div id="facebook" class="social-media-icon"></div>
			</a>
		</div>
		<div class="footer-helper">
			<a class="navitem-footer" href="mailto:joshuawright11@gmail.com">
				<div id="mail" class="social-media-icon"></div>
			</a>
		</div>
	</div>
</footer>
</html>