<html>
	<head>
		<title>Josh Wright</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic|Lora' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="icon" type="image/png" href="images/favicon.png">
	</head>
	<body>
		<div class="header">
			<a id="logo" href="/">josh<span style="font-weight: bold">wright</span></a>
			<div id="navigation">
				<a class="navitem" href="/travel">Travel</a>
				<a class="navitem" href="/projects">Projects</a>
			</div>
		</div>
		<section id="projects-header-page" class="page">
			<p class="intro-title" style="color:#000000">I love to code.</p>
		</section>
		<section id="about" class="info">
			<p class="section-title">Getting there is half the fun</p>
			<p class="section-text">Since starting to write code at the end of high school, I've been fascinated with ways to organize, style, and improve anything I write. I always try to have a project or two going to keep myself learning, thinking, and having fun. Here are the projects I've worked on over the years.</p>
		</section>
		<section id="latest-projects" style="margin-bottom: 40px" class="page">
			<div class="projects-container">
				<div class="project left"></div>
				<div class="project right"></div>
				<div class="project middle"></div>
			</div>
			<div class="projects-container">
				<div class="project left"></div>
				<div class="project right"></div>
				<div class="project middle"></div>
			</div>
			<div class="projects-container">
				<div class="project left"></div>
				<div class="project right"></div>
				<div class="project middle"></div>
			</div>
		</section>
	</body>
<footer>
	<div id="navigation-footer">
		<div class="footer-helper">
			<a class="navitem-footer" href="https://github.com/joshuawright11">
				<div id="github" class="social-media-icon"></div>
			</a>
		</div>
		<div class="footer-helper">
			<a class="navitem-footer" href="https://www.linkedin.com/in/joshlwright">
				<div id="linkedin" class="social-media-icon"></div>
			</a>
		</div>
		<div class="footer-helper">
			<a class="navitem-footer" href="https://www.facebook.com/joshlwright">
				<div id="facebook" class="social-media-icon"></div>
			</a>
		</div>
		<div class="footer-helper">
			<a class="navitem-footer" href="mailto:joshuawright11@gmail.com">
				<div id="mail" class="social-media-icon"></div>
			</a>
		</div>
	</div>
</footer>
</html>