<html>
	<head>
		<title>Josh Wright</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic|Lora' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="icon" type="image/png" href="images/favicon.png">
	</head>
	<body>
		<div class="header">
			<a id="logo" href="/">josh<span style="font-weight: bold">wright</span></a>
			<div id="navigation">
				<a class="icon-navitem" href="https://github.com/joshuawright11">
					<span class="helper"></span>
					<img class="social-media-icon" src="/images/github.png">
				</a>
				<a class="icon-navitem" href="https://www.linkedin.com/in/joshlwright">
					<span class="helper"></span>
					<img class="social-media-icon" src="/images/linkedin.png">
				</a>
				<a class="navitem" href="/contact">Contact</a>
				<a class="navitem" href="/travel">Travel</a>
				<a class="navitem" href="/projects">Projects</a>
			</div>
		</div>
		<section id="travel-header-page" class="page">
			<p class="intro-title">I love to travel.</p>
		</section>
		<section id="about" class="info">
			<p class="section-title">Not all who wander are lost</p>
			<p class="section-text">After graduating high school in 2011, I embarked on a 5 month, 15 country backpacking trek across Europe. Since then I've had a passion for immersion in life outside the norm, and nothing gives me more pleasure that experiencing a new culture and meeting people from around the world. Check out my Euro-route and travels since then!</p>
		</section>
		<section id="latest-travel" class="page">
			<p class="section-title">[Map Here]</p>
		</section>
	</body>
<footer>
	<div id="navigation-footer">
		<a class="navitem-footer" href="/projects">Projects</a>
		<a class="navitem-footer" href="/travel">Travel</a>
		<a class="navitem-footer" href="/contact">Contact</a>
	</div>
</footer>
</html>